* {
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: poppins,  sans-serif;
  }

main {
    display: flex;
    justify-content: center;
    flex: 1; /* 主內容佔滿剩餘空間 */
    background-color: #212121;
    padding: 80px 0px;
    color: #fff;
}

.main {
    flex: 1;
    max-width: 1000px;
}

h1 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
}

h2{
    font-weight: 600;
    font-size: 16px;
}

p{
    font-weight: 600;
    font-size: 16px;
}

a {
    color: white; /* 設置連結文字顏色為白色 */
    text-decoration: none; /* 去掉連結底線 */
}

.gray-text{
    font-weight: 400;
    font-size: 16px;
    color: #454545;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 14px;
    font-weight: 400; 
}
  
.sidebar {
    min-width: 150px; /* 側邊欄寬度 */
    background-color: #171717; /* 側邊欄背景色 */
    padding: 80px 50px;
}

.sidebar > ul {
    list-style-type: none;
}
  
button.rounded {
    border: none;
    background-color: #171717;
    color: #fff;
    padding: 10px 25px;
    border-radius: 50px;
}

.icon {
    width: 22px;
}

.chart-menu {
    display: flex;
    gap: 5px;
    margin-bottom: 40px;
}

 /* 排名相關的 */
.ranking-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #171717;
    padding: 12px 45px 12px 30px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.ranking-number {
    font-size: 24px;
    font-weight: 700;
    min-width: 60px;
}

.ranking-box > div:first-child {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    overflow: hidden;
}

.ranking-box > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    flex-shrink: 0;
    flex-basis: 150px;
}

.ranking-box > div:last-child  p {
    min-width: 60px;
    text-align: center;
    font-weight: 400;
}

.chart-award {
    display: flex;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.ranking-cover {
    display: inline-block;
    object-fit: cover;
    width: 75px;
    margin: 0px 8px;
}

.rank-difference {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-width: 55px;
    flex-shrink: 0;
}

.rank-difference > p {
    font-weight: 300;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ranking-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 12px 25px 12px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.ranking-header > div:first-child {
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: 20px;
}

.ranking-header > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    flex-basis: 150px;
}

.ranking-header > div:last-child div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ranking-header > div:last-child  p {
    min-width: 100px;
    text-align: center;
    font-weight: 400;
    color: #454545;
}

.info-button {
    display: none;
}

/* RWD */
@media screen and (max-width: 1023px) {
    main {
        padding: 80px 0px;
    }

    .main{
        max-width: 80vw;
    }
    
    .sidebar, .chart-info-hidden, .ranking-header > div:last-child {
        display: none;
    }

    .info-button {
        display: block;
    }

    .ranking-box{
        padding: 10px 40px 10px 30px;
    }

    .ranking-box > div:last-child {
        gap: 20px;
        flex-shrink: 1;
    }

    .rank-difference {
        min-width: 35px;
    }

    .ranking-number {
        min-width: 50px;
    }

}

@media screen and (max-width: 767px) {

    .main {
        max-width: 85vw;
    }

    h2{
        font-size: 14px;
    }

    .gray-text{
        font-size: 12px;
    }

    .ranking-number {
        font-size: 20px;
    }   
    
    p{
        font-size: 14px;
    }

    .ranking-cover{
        width: 60px;
    }

    .ranking-box{
        padding: 12px 30px 12px 20px;
    }
}