* {
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: poppins,  sans-serif;
  }

main {
    display: flex;
    justify-content: center;
    flex: 1; /* 主內容佔滿剩餘空間 */
    background-color: #191919;
    padding: 80px 100px;
    color: #fff;
}

.main {
    flex: 1;
    max-width: 1000px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}

h2 {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
}

h3{
    font-weight: 600;
    font-size: 16px;
}

.wb-text {
    font-weight: 600;
    font-size: 16px;
}

.wbl-text {
    font-size: 24px;
    font-weight: 500;
}

p{
    font-weight: 600;
    font-size: 16px;
}

a {
    color: white; /* 設置連結文字顏色為白色 */
    text-decoration: none; /* 去掉連結底線 */
}

.gray-text{
    font-weight: 400;
    color: #525252;
}

.light-gray-text{
    font-weight: 400;
    color: #8e8e8e;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 14px;
    font-weight: 400; 
}
  
.sidebar {
    min-width: 150px; /* 側邊欄寬度 */
    background-color: #111111; /* 側邊欄背景色 */
    padding: 80px 50px;
}

.sidebar > ul {
    list-style-type: none;
}
  
button.rounded {
    border: none;
    background-color: #111111;
    color: #fff;
    padding: 10px 25px;
    border-radius: 50px;
}

.icon {
    width: 24px;
}

.chart-menu {
    display: flex;
    gap: 5px;
    margin-bottom: 40px;
}

 /* 排名相關的 */
.chart-title {
    margin-bottom: 15px;
}

.ranking-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #111111;
    padding: 12px 45px 12px 30px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.ranking-number {
    font-size: 24px;
    font-weight: 700;
    min-width: 60px;
}

.ranking-box > div:first-child {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    overflow: hidden;
}

.ranking-box > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    flex-shrink: 0;
    flex-basis: 150px;
}

.ranking-box > div:last-child  p {
    min-width: 60px;
    text-align: center;
    font-weight: 400;
}

.chart-award {
    display: flex;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.ranking-cover {
    display: inline-block;
    object-fit: cover;
    width: 75px;
    margin: 0px 8px;
}

.rank-difference {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-width: 55px;
    flex-shrink: 0;
}

.rank-difference > p {
    font-weight: 300;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ranking-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 12px 25px 12px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.ranking-header > div:first-child {
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: 20px;
}

.ranking-header > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    flex-basis: 150px;
}

.ranking-header > div:last-child div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ranking-header > div:last-child  p {
    min-width: 100px;
    text-align: center;
    font-weight: 400;
    color: #454545;
}

.info-button {
    display: none;
}

/* 歌曲資訊頁面 */
.song-info-page {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

.song-info {
    display: flex;
    align-items: center;
    height: 200px;
    gap: 30px; 
    margin-bottom: 50px;
    flex-shrink: 1;
}

.song-info p {
    font-size: 22px;
}


.song-info > div > button {
    margin-top: 10px;
}

.song-static {
    display: flex;
    row-gap: 40px; 
    flex-wrap: wrap;
    margin-bottom: 80px;
    flex-shrink: 1;
    justify-content: space-between;
}

.song-static > div {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.song-static > div:last-child {
    flex-grow: 1;
}

#song-line-chart {
    margin-bottom: 80px;
}

.mobile-display-cover {
    display: none;
}


/* RWD */
@media screen and (max-width: 1023px) {
    main {
        padding: 80px 0px;
    }

    .main{
        max-width: 80vw;
    }
    
    .sidebar, .chart-info-hidden, .ranking-header > div:last-child {
        display: none;
    }

    .info-button {
        display: block;
    }

    .ranking-box{
        padding: 10px 40px 10px 30px;
    }

    .ranking-box > div:last-child {
        gap: 20px;
        flex-shrink: 1;
    }

    .rank-difference {
        min-width: 35px;
    }

    .ranking-number {
        min-width: 50px;
    }

}

@media screen and (max-width: 767px) {

    main.song-info-page  {
        padding: 7.5vw 0px;
    }

    .main {
        max-width: 85vw;
    }

    .icon {
        width: 22px;
    }

    .wb-text{
        font-size: 14px;
    }

    .wbl-text{
        font-size: 22px;
    }

    .info-text{
        font-size: 12px;
    }

    .ranking-number {
        font-size: 20px;
    }   
    
    p{
        font-size: 14px;
    }

    .ranking-cover{
        width: 60px;
    }

    .ranking-box{
        padding: 12px 30px 12px 20px;
    }

    .song-static > div {
        flex-basis: 33%;
    }

    .mobile-display-cover {
        display: block;
    }

    .hidden-on-mobile {
        display: none;
    }

    .song-info {
        margin: 30px 0px;
    }

}